body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: yellowgreen
}

.quem-somos{
    background-color: green;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: teal;
}

.bg-footer{
    background-color: black;
    color:white
}